<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes">
  <test thread-count="5" name="Test" parallel="classes">
  <groups>
  	<run>
  		<include name="Sanity">
  	</run>
  </groups>
    <classes>
      <class name="pkgInterview.AutomationInterviewAll.amazonAddToCart"/>
      <class name="pkgInterview.AutomationInterviewAll.question2"/>
      <class name="pkgInterview.AutomationInterviewAll.question3"/>
      <class name="pkgInterview.AutomationInterviewAll.question1"/>      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
